
<%= form_with model: booking, class: "p-3 border rounded bg-light"  do |f|%>
    
    Note: once cancelled bookings cannot be confirmed!!!
    <div class="mb-3">
        <%= f.label :status, class: "form-label" %>
        <%= f.select :status, Booking.statuses.keys.map { |status| [status.humanize, status] }, prompt: "Select Status", class: "form-select" %>     
    </div>

    <div>
    <%= f.submit "Edit Booking", class: "btn btn-primary" %>
    </div>
<%end%>
