<div class="container my-4">   
    <p style="color: green"><%= notice %></p>
    <% content_for :title, "Editing Booking" %>

    <h1><strong>Editing Booking</strong></h1>
    <%= render "form", booking: @booking, event: @booking.event %>
    <br>
    <div>
</div>