<div class="container my-4">
  <!-- Render the event card -->
  <%= render @event %>
  
  <!-- Bookings Section -->
    <div class="mt-4">
      <h5>Bookings</h5>
      <div id="bookings">
        <% @bookings.each do |booking| %>
          <%= render booking %>
        <% end %>
      </div>
      <% if current_user&.is_a?(Attendee) || current_user&.is_a?(Admin) %>
        <%= link_to "New Booking", new_event_booking_path(event_id: @event.id), class: "btn btn-primary mb-3" %>
      <% end %>
    </div>
</div>